{% extends "base.html" %}

{% block title %}Our Team{% endblock %}

{% block content %}
<div class="team-page">
    <h2>Meet Our Team</h2>

    <!-- Guide Section -->
    <div class="guide-section">
        <h3>Guide</h3>
        <div class="profile guide">
            <img src="{{ url_for('static', filename='images/rajesh-en.jpg') }}" alt="Guide's Image">
            <div class="info">
                <h4>{{ Guide.name }}</h4>
                <p>Mentor and Guide</p>
                <div class="social-links">
                    <a href="{{ Guide.website }}" target="_blank">
                        <img src="{{ url_for('static', filename='images/website.png') }}" alt="Website Icon">
                    </a>
                    <a href="{{ Guide.linkedin }}" target="_blank">
                        <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn Icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div class="team-section">
        <h3>Team Members</h3>
        <div class="team-members">
            {% for member in team_members %}
            <div class="profile member">
                <img src="{{ url_for('static', filename='images/' ~ member.image) }}" alt="{{ member.name }}">
                <div class="info">
                    <h4>{{ member.name }}</h4>
                    <p>Team Member</p>
                    <div class="social-links">
                        <a href="{{ member.github }}" target="_blank">
                            <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub Icon">
                        </a>
                        <a href="{{ member.linkedin }}" target="_blank">
                            <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn Icon">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
